/* --- Minion Pro - Regular --- */
@font-face {
  font-family: "Minion Pro";
  src: url(/fonts/minion-pro/MinionPro-Regular.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-Regular.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* --- Minion Pro - Italic --- */
@font-face {
  font-family: "Minion Pro";
  src: url(/fonts/minion-pro/MinionPro-It.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-It.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-It.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* --- Minion Pro - Medium --- */
@font-face {
  font-family: "Minion Pro";
  src: url(/fonts/minion-pro/MinionPro-Medium.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-Medium.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* --- Minion Pro - Medium Italic --- */
@font-face {
  font-family: "Minion Pro";
  src: url(/fonts/minion-pro/MinionPro-MediumIt.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-MediumIt.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-MediumIt.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* --- Minion Pro - Semibold --- */
@font-face {
  font-family: "Minion Pro";
  src: url(/fonts/minion-pro/MinionPro-Semibold.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-Semibold.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-Semibold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* --- Minion Pro - Semibold Italic --- */
@font-face {
  font-family: "Minion Pro";
  src: url(/fonts/minion-pro/MinionPro-SemiboldIt.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-SemiboldIt.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-SemiboldIt.otf) format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* --- Minion Pro - Bold --- */
@font-face {
  font-family: "Minion Pro";
  src: url(/fonts/minion-pro/MinionPro-Bold.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-Bold.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* --- Minion Pro - Bold Italic --- */
@font-face {
  font-family: "Minion Pro";
  src: url(/fonts/minion-pro/MinionPro-BoldIt.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-BoldIt.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-BoldIt.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* --- Minion Pro Condensed - Bold --- */
@font-face {
  font-family: "Minion Pro Condensed";
  src: url(/fonts/minion-pro/MinionPro-BoldCn.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-BoldCn.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-BoldCn.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* --- Minion Pro Condensed - Bold Italic --- */
@font-face {
  font-family: "Minion Pro Condensed";
  src: url(/fonts/minion-pro/MinionPro-BoldCnIt.woff2) format("woff2"),
    url(/fonts/minion-pro/MinionPro-BoldCnIt.woff) format("woff"),
    url(/fonts/minion-pro/MinionPro-BoldCnIt.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
}
